.card {
  background-color: #333745;
  background-image: url(_background3.png);
  height: 83%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0;
}

.main-text {
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 31px;
}

.der {
  color: #29c1e9;
  font-weight: bold;
  font-style: italic;
}

.die {
  color: #ff39a1;
  font-weight: bold;
  font-style: italic;
}

.das {
  color: #1be473;
  font-weight: bold;
  font-style: italic;
}

.verb {
  color: #e4d71b;
  font-weight: bold;
  font-style: italic;
}

.super {
  vertical-align: super;
  text-align: left;
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 25%;
}

.stammvokal {
  text-align: right;
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 50%;
}

.auxiliary {
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
